*.apl linguist-language=xBase
*.apw linguist-language=xBase

*.ch linguist-language=xBase
*.th linguist-language=xBase

*.prg linguist-language=xBase
*.prx linguist-language=xBase
*.prw linguist-language=xBase

*.tlpp linguist-language=xBase

*.hb linguist-language=ini
